<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#100</key>
	<string>d</string>
	<key>#10000</key>
	<string>✐</string>
	<key>#10003</key>
	<string>✓</string>
	<key>#10007</key>
	<string>✗</string>
	<key>#10013</key>
	<string>✝</string>
	<key>#10014</key>
	<string>✞</string>
	<key>#10015</key>
	<string>✟</string>
	<key>#10016</key>
	<string>✠</string>
	<key>#10017</key>
	<string>✡</string>
	<key>#10018</key>
	<string>✢</string>
	<key>#10019</key>
	<string>✣</string>
	<key>#10020</key>
	<string>✤</string>
	<key>#10021</key>
	<string>✥</string>
	<key>#10022</key>
	<string>✦</string>
	<key>#10023</key>
	<string>✧</string>
	<key>#10025</key>
	<string>✩</string>
	<key>#10026</key>
	<string>✪</string>
	<key>#10027</key>
	<string>✫</string>
	<key>#10028</key>
	<string>✬</string>
	<key>#10029</key>
	<string>✭</string>
	<key>#10030</key>
	<string>✮</string>
	<key>#10031</key>
	<string>✯</string>
	<key>#10032</key>
	<string>✰</string>
	<key>#10033</key>
	<string>✱</string>
	<key>#10034</key>
	<string>✲</string>
	<key>#10035</key>
	<string>✳</string>
	<key>#10036</key>
	<string>✴</string>
	<key>#10037</key>
	<string>✵</string>
	<key>#10038</key>
	<string>✶</string>
	<key>#10039</key>
	<string>✷</string>
	<key>#10040</key>
	<string>✸</string>
	<key>#10041</key>
	<string>✹</string>
	<key>#10042</key>
	<string>✺</string>
	<key>#10043</key>
	<string>✻</string>
	<key>#10044</key>
	<string>✼</string>
	<key>#10045</key>
	<string>✽</string>
	<key>#10046</key>
	<string>✾</string>
	<key>#10047</key>
	<string>✿</string>
	<key>#10048</key>
	<string>❀</string>
	<key>#10049</key>
	<string>❁</string>
	<key>#10050</key>
	<string>❂</string>
	<key>#10051</key>
	<string>❃</string>
	<key>#10052</key>
	<string>❄</string>
	<key>#10053</key>
	<string>❅</string>
	<key>#10054</key>
	<string>❆</string>
	<key>#10055</key>
	<string>❇</string>
	<key>#10056</key>
	<string>❈</string>
	<key>#10057</key>
	<string>❉</string>
	<key>#10058</key>
	<string>❊</string>
	<key>#10059</key>
	<string>❋</string>
	<key>#10061</key>
	<string>❍</string>
	<key>#10063</key>
	<string>❏</string>
	<key>#10064</key>
	<string>❐</string>
	<key>#10065</key>
	<string>❑</string>
	<key>#10066</key>
	<string>❒</string>
	<key>#10070</key>
	<string>❖</string>
	<key>#10077</key>
	<string>❝</string>
	<key>#10078</key>
	<string>❞</string>
	<key>#101</key>
	<string>e</string>
	<key>#10102</key>
	<string>❶</string>
	<key>#10103</key>
	<string>❷</string>
	<key>#10104</key>
	<string>❸</string>
	<key>#10105</key>
	<string>❹</string>
	<key>#10106</key>
	<string>❺</string>
	<key>#10107</key>
	<string>❻</string>
	<key>#10108</key>
	<string>❼</string>
	<key>#10109</key>
	<string>❽</string>
	<key>#10110</key>
	<string>❾</string>
	<key>#10111</key>
	<string>❿</string>
	<key>#10136</key>
	<string>➘</string>
	<key>#10137</key>
	<string>➙</string>
	<key>#10138</key>
	<string>➚</string>
	<key>#10139</key>
	<string>➛</string>
	<key>#10140</key>
	<string>➜</string>
	<key>#10141</key>
	<string>➝</string>
	<key>#10142</key>
	<string>➞</string>
	<key>#10143</key>
	<string>➟</string>
	<key>#10144</key>
	<string>➠</string>
	<key>#10145</key>
	<string>➡</string>
	<key>#10146</key>
	<string>➢</string>
	<key>#10147</key>
	<string>➣</string>
	<key>#10148</key>
	<string>➤</string>
	<key>#10149</key>
	<string>➥</string>
	<key>#10150</key>
	<string>➦</string>
	<key>#10151</key>
	<string>➧</string>
	<key>#10152</key>
	<string>➨</string>
	<key>#10153</key>
	<string>➩</string>
	<key>#10154</key>
	<string>➪</string>
	<key>#10155</key>
	<string>➫</string>
	<key>#10156</key>
	<string>➬</string>
	<key>#10157</key>
	<string>➭</string>
	<key>#10158</key>
	<string>➮</string>
	<key>#10159</key>
	<string>➯</string>
	<key>#10161</key>
	<string>➱</string>
	<key>#10162</key>
	<string>➲</string>
	<key>#10163</key>
	<string>➳</string>
	<key>#10164</key>
	<string>➴</string>
	<key>#10165</key>
	<string>➵</string>
	<key>#10166</key>
	<string>➶</string>
	<key>#10167</key>
	<string>➷</string>
	<key>#10168</key>
	<string>➸</string>
	<key>#10169</key>
	<string>➹</string>
	<key>#10170</key>
	<string>➺</string>
	<key>#10171</key>
	<string>➻</string>
	<key>#10172</key>
	<string>➼</string>
	<key>#10173</key>
	<string>➽</string>
	<key>#10174</key>
	<string>➾</string>
	<key>#102</key>
	<string>f</string>
	<key>#103</key>
	<string>g</string>
	<key>#104</key>
	<string>h</string>
	<key>#105</key>
	<string>i</string>
	<key>#106</key>
	<string>j</string>
	<key>#107</key>
	<string>k</string>
	<key>#10731</key>
	<string>⧫</string>
	<key>#108</key>
	<string>l</string>
	<key>#109</key>
	<string>m</string>
	<key>#110</key>
	<string>n</string>
	<key>#11047</key>
	<string>⬧</string>
	<key>#111</key>
	<string>o</string>
	<key>#112</key>
	<string>p</string>
	<key>#113</key>
	<string>q</string>
	<key>#114</key>
	<string>r</string>
	<key>#115</key>
	<string>s</string>
	<key>#116</key>
	<string>t</string>
	<key>#117</key>
	<string>u</string>
	<key>#118</key>
	<string>v</string>
	<key>#119</key>
	<string>w</string>
	<key>#120</key>
	<string>x</string>
	<key>#121</key>
	<string>y</string>
	<key>#122</key>
	<string>z</string>
	<key>#123</key>
	<string>{</string>
	<key>#124</key>
	<string>|</string>
	<key>#125</key>
	<string>}</string>
	<key>#160</key>
	<string> </string>
	<key>#161</key>
	<string>¡</string>
	<key>#162</key>
	<string>¢</string>
	<key>#163</key>
	<string>£</string>
	<key>#164</key>
	<string>¤</string>
	<key>#165</key>
	<string>¥</string>
	<key>#166</key>
	<string>¦</string>
	<key>#167</key>
	<string>§</string>
	<key>#168</key>
	<string>¨</string>
	<key>#169</key>
	<string>©</string>
	<key>#170</key>
	<string>ª</string>
	<key>#171</key>
	<string>«</string>
	<key>#172</key>
	<string>¬</string>
	<key>#173</key>
	<string></string>
	<key>#174</key>
	<string>®</string>
	<key>#175</key>
	<string>¯</string>
	<key>#176</key>
	<string>°</string>
	<key>#177</key>
	<string>±</string>
	<key>#178</key>
	<string>²</string>
	<key>#179</key>
	<string>³</string>
	<key>#180</key>
	<string>´</string>
	<key>#181</key>
	<string>µ</string>
	<key>#182</key>
	<string>¶</string>
	<key>#183</key>
	<string>·</string>
	<key>#184</key>
	<string>¸</string>
	<key>#185</key>
	<string>¹</string>
	<key>#186</key>
	<string>º</string>
	<key>#187</key>
	<string>»</string>
	<key>#188</key>
	<string>¼</string>
	<key>#189</key>
	<string>½</string>
	<key>#190</key>
	<string>¾</string>
	<key>#191</key>
	<string>¿</string>
	<key>#192</key>
	<string>À</string>
	<key>#193</key>
	<string>Á</string>
	<key>#194</key>
	<string>Â</string>
	<key>#195</key>
	<string>Ã</string>
	<key>#196</key>
	<string>Ä</string>
	<key>#197</key>
	<string>Å</string>
	<key>#198</key>
	<string>Æ</string>
	<key>#199</key>
	<string>Ç</string>
	<key>#200</key>
	<string>È</string>
	<key>#201</key>
	<string>É</string>
	<key>#202</key>
	<string>Ê</string>
	<key>#203</key>
	<string>Ë</string>
	<key>#204</key>
	<string>Ì</string>
	<key>#205</key>
	<string>Í</string>
	<key>#206</key>
	<string>Î</string>
	<key>#207</key>
	<string>Ï</string>
	<key>#208</key>
	<string>Ð</string>
	<key>#209</key>
	<string>Ñ</string>
	<key>#210</key>
	<string>Ò</string>
	<key>#2109</key>
	<string>℉</string>
	<key>#211</key>
	<string>Ó</string>
	<key>#212</key>
	<string>Ô</string>
	<key>#213</key>
	<string>Õ</string>
	<key>#214</key>
	<string>Ö</string>
	<key>#215</key>
	<string>×</string>
	<key>#2155</key>
	<string>⅕</string>
	<key>#2156</key>
	<string>⅖</string>
	<key>#2157</key>
	<string>⅗</string>
	<key>#2158</key>
	<string>⅘</string>
	<key>#2159</key>
	<string>⅙</string>
	<key>#215A</key>
	<string>⅚</string>
	<key>#215B</key>
	<string>⅛</string>
	<key>#215C</key>
	<string>⅜</string>
	<key>#215D</key>
	<string>⅝</string>
	<key>#215E</key>
	<string>⅞</string>
	<key>#216</key>
	<string>Ø</string>
	<key>#217</key>
	<string>Ù</string>
	<key>#218</key>
	<string>Ú</string>
	<key>#219</key>
	<string>Û</string>
	<key>#220</key>
	<string>Ü</string>
	<key>#221</key>
	<string>Ý</string>
	<key>#222</key>
	<string>Þ</string>
	<key>#223</key>
	<string>ß</string>
	<key>#224</key>
	<string>à</string>
	<key>#225</key>
	<string>á</string>
	<key>#226</key>
	<string>â</string>
	<key>#227</key>
	<string>ã</string>
	<key>#228</key>
	<string>ä</string>
	<key>#229</key>
	<string>å</string>
	<key>#230</key>
	<string>æ</string>
	<key>#231</key>
	<string>ç</string>
	<key>#232</key>
	<string>è</string>
	<key>#233</key>
	<string>é</string>
	<key>#234</key>
	<string>ê</string>
	<key>#235</key>
	<string>ë</string>
	<key>#236</key>
	<string>ì</string>
	<key>#237</key>
	<string>í</string>
	<key>#238</key>
	<string>î</string>
	<key>#2384</key>
	<string>ॐ</string>
	<key>#239</key>
	<string>ï</string>
	<key>#240</key>
	<string>ð</string>
	<key>#241</key>
	<string>ñ</string>
	<key>#242</key>
	<string>ò</string>
	<key>#244</key>
	<string>ô</string>
	<key>#245</key>
	<string>õ</string>
	<key>#246</key>
	<string>ö</string>
	<key>#247</key>
	<string>÷</string>
	<key>#248</key>
	<string>ø</string>
	<key>#249</key>
	<string>ù</string>
	<key>#250</key>
	<string>ú</string>
	<key>#251</key>
	<string>û</string>
	<key>#252</key>
	<string>ü</string>
	<key>#253</key>
	<string>ý</string>
	<key>#254</key>
	<string>þ</string>
	<key>#33</key>
	<string>!</string>
	<key>#338</key>
	<string>Œ</string>
	<key>#339</key>
	<string>œ</string>
	<key>#34</key>
	<string>"</string>
	<key>#35</key>
	<string>#</string>
	<key>#352</key>
	<string>Š</string>
	<key>#353</key>
	<string>š</string>
	<key>#36</key>
	<string>$</string>
	<key>#37</key>
	<string>%</string>
	<key>#38</key>
	<string>&amp;</string>
	<key>#39</key>
	<string>'</string>
	<key>#40</key>
	<string>(</string>
	<key>#402</key>
	<string>ƒ</string>
	<key>#41</key>
	<string>)</string>
	<key>#42</key>
	<string>*</string>
	<key>#43</key>
	<string>+</string>
	<key>#44</key>
	<string>,</string>
	<key>#45</key>
	<string>-</string>
	<key>#46</key>
	<string>.</string>
	<key>#47</key>
	<string>/</string>
	<key>#48</key>
	<string>0</string>
	<key>#49</key>
	<string>1</string>
	<key>#50</key>
	<string>2</string>
	<key>#51</key>
	<string>3</string>
	<key>#52</key>
	<string>4</string>
	<key>#53</key>
	<string>5</string>
	<key>#54</key>
	<string>6</string>
	<key>#55</key>
	<string>7</string>
	<key>#56</key>
	<string>8</string>
	<key>#57</key>
	<string>9</string>
	<key>#58</key>
	<string>:</string>
	<key>#59</key>
	<string>;</string>
	<key>#60</key>
	<string>&lt;</string>
	<key>#61</key>
	<string>=</string>
	<key>#62</key>
	<string>&gt;</string>
	<key>#63</key>
	<string>?</string>
	<key>#64</key>
	<string>@</string>
	<key>#65</key>
	<string>A</string>
	<key>#66</key>
	<string>B</string>
	<key>#67</key>
	<string>C</string>
	<key>#68</key>
	<string>D</string>
	<key>#69</key>
	<string>E</string>
	<key>#70</key>
	<string>F</string>
	<key>#71</key>
	<string>G</string>
	<key>#72</key>
	<string>H</string>
	<key>#73</key>
	<string>I</string>
	<key>#74</key>
	<string>J</string>
	<key>#75</key>
	<string>K</string>
	<key>#76</key>
	<string>L</string>
	<key>#77</key>
	<string>M</string>
	<key>#78</key>
	<string>N</string>
	<key>#79</key>
	<string>O</string>
	<key>#80</key>
	<string>P</string>
	<key>#81</key>
	<string>Q</string>
	<key>#82</key>
	<string>R</string>
	<key>#8211</key>
	<string>–</string>
	<key>#8212</key>
	<string>—</string>
	<key>#8216</key>
	<string>‘</string>
	<key>#8217</key>
	<string>’</string>
	<key>#8218</key>
	<string>‚</string>
	<key>#8220</key>
	<string>“</string>
	<key>#8221</key>
	<string>”</string>
	<key>#8222</key>
	<string>„</string>
	<key>#8224</key>
	<string>†</string>
	<key>#8225</key>
	<string>‡</string>
	<key>#8226</key>
	<string>•</string>
	<key>#8230</key>
	<string>…</string>
	<key>#8240</key>
	<string>‰</string>
	<key>#8254</key>
	<string>‾</string>
	<key>#83</key>
	<string>S</string>
	<key>#8364</key>
	<string>€</string>
	<key>#84</key>
	<string>T</string>
	<key>#8482</key>
	<string>™</string>
	<key>#85</key>
	<string>U</string>
	<key>#8592</key>
	<string>←</string>
	<key>#8593</key>
	<string>↑</string>
	<key>#8594</key>
	<string>→</string>
	<key>#8595</key>
	<string>↓</string>
	<key>#8596</key>
	<string>↔</string>
	<key>#8597</key>
	<string>↕</string>
	<key>#8598</key>
	<string>↖</string>
	<key>#8599</key>
	<string>↗</string>
	<key>#86</key>
	<string>V</string>
	<key>#8600</key>
	<string>↘</string>
	<key>#8601</key>
	<string>↙</string>
	<key>#8602</key>
	<string>↚</string>
	<key>#8603</key>
	<string>↛</string>
	<key>#8604</key>
	<string>↜</string>
	<key>#8605</key>
	<string>↝</string>
	<key>#8606</key>
	<string>↞</string>
	<key>#8607</key>
	<string>↟</string>
	<key>#8608</key>
	<string>↠</string>
	<key>#8609</key>
	<string>↡</string>
	<key>#8610</key>
	<string>↢</string>
	<key>#8611</key>
	<string>↣</string>
	<key>#8612</key>
	<string>↤</string>
	<key>#8613</key>
	<string>↥</string>
	<key>#8614</key>
	<string>↦</string>
	<key>#8615</key>
	<string>↧</string>
	<key>#8616</key>
	<string>↨</string>
	<key>#8617</key>
	<string>↩</string>
	<key>#8618</key>
	<string>↪</string>
	<key>#8619</key>
	<string>↫</string>
	<key>#8620</key>
	<string>↬</string>
	<key>#8621</key>
	<string>↭</string>
	<key>#8622</key>
	<string>↮</string>
	<key>#8623</key>
	<string>↯</string>
	<key>#8624</key>
	<string>↰</string>
	<key>#8625</key>
	<string>↱</string>
	<key>#8626</key>
	<string>↲</string>
	<key>#8627</key>
	<string>↳</string>
	<key>#8628</key>
	<string>↴</string>
	<key>#8629</key>
	<string>↵</string>
	<key>#8630</key>
	<string>↶</string>
	<key>#8631</key>
	<string>↷</string>
	<key>#8632</key>
	<string>↸</string>
	<key>#8633</key>
	<string>↹</string>
	<key>#8634</key>
	<string>↺</string>
	<key>#8635</key>
	<string>↻</string>
	<key>#8636</key>
	<string>↼</string>
	<key>#8637</key>
	<string>↽</string>
	<key>#8638</key>
	<string>↾</string>
	<key>#8639</key>
	<string>↿</string>
	<key>#8640</key>
	<string>⇀</string>
	<key>#8641</key>
	<string>⇁</string>
	<key>#8642</key>
	<string>⇂</string>
	<key>#8643</key>
	<string>⇃</string>
	<key>#8644</key>
	<string>⇄</string>
	<key>#8645</key>
	<string>⇅</string>
	<key>#8646</key>
	<string>⇆</string>
	<key>#8647</key>
	<string>⇇</string>
	<key>#8648</key>
	<string>⇈</string>
	<key>#8649</key>
	<string>⇉</string>
	<key>#8650</key>
	<string>⇊</string>
	<key>#8651</key>
	<string>⇋</string>
	<key>#8652</key>
	<string>⇌</string>
	<key>#8653</key>
	<string>⇍</string>
	<key>#8654</key>
	<string>⇎</string>
	<key>#8655</key>
	<string>⇏</string>
	<key>#8656</key>
	<string>⇐</string>
	<key>#8657</key>
	<string>⇑</string>
	<key>#8658</key>
	<string>⇒</string>
	<key>#8659</key>
	<string>⇓</string>
	<key>#8660</key>
	<string>⇔</string>
	<key>#8661</key>
	<string>⇕</string>
	<key>#8662</key>
	<string>⇖</string>
	<key>#8663</key>
	<string>⇗</string>
	<key>#8664</key>
	<string>⇘</string>
	<key>#8665</key>
	<string>⇙</string>
	<key>#8666</key>
	<string>⇚</string>
	<key>#8667</key>
	<string>⇛</string>
	<key>#8668</key>
	<string>⇜</string>
	<key>#8669</key>
	<string>⇝</string>
	<key>#8670</key>
	<string>⇞</string>
	<key>#8671</key>
	<string>⇟</string>
	<key>#8672</key>
	<string>⇠</string>
	<key>#8673</key>
	<string>⇡</string>
	<key>#8674</key>
	<string>⇢</string>
	<key>#8675</key>
	<string>⇣</string>
	<key>#8676</key>
	<string>⇤</string>
	<key>#8677</key>
	<string>⇥</string>
	<key>#8678</key>
	<string>⇦</string>
	<key>#8679</key>
	<string>⇧</string>
	<key>#8680</key>
	<string>⇨</string>
	<key>#8681</key>
	<string>⇩</string>
	<key>#87</key>
	<string>W</string>
	<key>#8704</key>
	<string>∀</string>
	<key>#8706</key>
	<string>∂</string>
	<key>#8707</key>
	<string>∃</string>
	<key>#8709</key>
	<string>∅</string>
	<key>#8711</key>
	<string></string>
	<key>#8712</key>
	<string>∈</string>
	<key>#8713</key>
	<string>∉</string>
	<key>#8715</key>
	<string>∋</string>
	<key>#8719</key>
	<string>∏</string>
	<key>#8721</key>
	<string>∑</string>
	<key>#8722</key>
	<string>−</string>
	<key>#8723</key>
	<string>∓</string>
	<key>#8724</key>
	<string>∔</string>
	<key>#8725</key>
	<string>∕</string>
	<key>#8727</key>
	<string>∗</string>
	<key>#8730</key>
	<string>√</string>
	<key>#8733</key>
	<string>∝</string>
	<key>#8734</key>
	<string>∞</string>
	<key>#8736</key>
	<string>∠</string>
	<key>#8745</key>
	<string>∩</string>
	<key>#8746</key>
	<string>∪</string>
	<key>#8747</key>
	<string>∫</string>
	<key>#8764</key>
	<string>∼</string>
	<key>#8773</key>
	<string>≅</string>
	<key>#8776</key>
	<string>≈</string>
	<key>#88</key>
	<string>X</string>
	<key>#8800</key>
	<string>≠</string>
	<key>#8801</key>
	<string>≡</string>
	<key>#8804</key>
	<string>≤</string>
	<key>#8805</key>
	<string>≥</string>
	<key>#8834</key>
	<string>⊂</string>
	<key>#8835</key>
	<string>⊃</string>
	<key>#8836</key>
	<string>⊄</string>
	<key>#8838</key>
	<string>⊆</string>
	<key>#8839</key>
	<string>⊇</string>
	<key>#8853</key>
	<string>⊕</string>
	<key>#8855</key>
	<string>⊗</string>
	<key>#8869</key>
	<string>⊥</string>
	<key>#8870</key>
	<string>∨</string>
	<key>#89</key>
	<string>Y</string>
	<key>#8901</key>
	<string>⋅</string>
	<key>#8968</key>
	<string>⌈</string>
	<key>#8969</key>
	<string>⌉</string>
	<key>#8970</key>
	<string>⌊</string>
	<key>#8971</key>
	<string>⌋</string>
	<key>#8984</key>
	<string>⌘</string>
	<key>#8987</key>
	<string>⌛</string>
	<key>#8999</key>
	<string>⌧</string>
	<key>#90</key>
	<string>Z</string>
	<key>#9000</key>
	<string>⌨</string>
	<key>#9043</key>
	<string>⍓</string>
	<key>#91</key>
	<string>[</string>
	<key>#913</key>
	<string>Α</string>
	<key>#914</key>
	<string>Β</string>
	<key>#915</key>
	<string>Γ</string>
	<key>#916</key>
	<string>Δ</string>
	<key>#917</key>
	<string>Ε</string>
	<key>#918</key>
	<string>Ζ</string>
	<key>#919</key>
	<string>Η</string>
	<key>#92</key>
	<string>\</string>
	<key>#920</key>
	<string>Θ</string>
	<key>#921</key>
	<string>Ι</string>
	<key>#922</key>
	<string>Κ</string>
	<key>#923</key>
	<string>Λ</string>
	<key>#924</key>
	<string>Μ</string>
	<key>#925</key>
	<string>Ν</string>
	<key>#926</key>
	<string>Ξ</string>
	<key>#927</key>
	<string>Ο</string>
	<key>#928</key>
	<string>Π</string>
	<key>#929</key>
	<string>Ρ</string>
	<key>#93</key>
	<string>]</string>
	<key>#931</key>
	<string>Σ</string>
	<key>#9312</key>
	<string>①</string>
	<key>#9313</key>
	<string>②</string>
	<key>#9314</key>
	<string>③</string>
	<key>#9315</key>
	<string>④</string>
	<key>#9316</key>
	<string>⑤</string>
	<key>#9317</key>
	<string>⑥</string>
	<key>#9318</key>
	<string>⑦</string>
	<key>#9319</key>
	<string>⑧</string>
	<key>#932</key>
	<string>Τ</string>
	<key>#9320</key>
	<string>⑨</string>
	<key>#9321</key>
	<string>⑩</string>
	<key>#9322</key>
	<string>⑪</string>
	<key>#9323</key>
	<string>⑫</string>
	<key>#9324</key>
	<string>⑬</string>
	<key>#9326</key>
	<string>⑮</string>
	<key>#9327</key>
	<string>⑯</string>
	<key>#9328</key>
	<string>⑰</string>
	<key>#9329</key>
	<string>⑱</string>
	<key>#933</key>
	<string>Υ</string>
	<key>#9330</key>
	<string>⑲</string>
	<key>#9331</key>
	<string>⑳</string>
	<key>#9332</key>
	<string>⑴</string>
	<key>#9333</key>
	<string>⑵</string>
	<key>#9334</key>
	<string>⑶</string>
	<key>#9335</key>
	<string>⑷</string>
	<key>#9336</key>
	<string>⑸</string>
	<key>#9337</key>
	<string>⑹</string>
	<key>#9338</key>
	<string>⑺</string>
	<key>#9339</key>
	<string>⑻</string>
	<key>#934</key>
	<string>Φ</string>
	<key>#9340</key>
	<string>⑼</string>
	<key>#9341</key>
	<string>⑽</string>
	<key>#9342</key>
	<string>⑾</string>
	<key>#9343</key>
	<string>⑿</string>
	<key>#9344</key>
	<string>⒀</string>
	<key>#9345</key>
	<string>⒁</string>
	<key>#9346</key>
	<string>⒂</string>
	<key>#9347</key>
	<string>⒃</string>
	<key>#9348</key>
	<string>⒄</string>
	<key>#9349</key>
	<string>⒅</string>
	<key>#935</key>
	<string>Χ</string>
	<key>#9350</key>
	<string>⒆</string>
	<key>#9351</key>
	<string>⒇</string>
	<key>#9352</key>
	<string>⒈</string>
	<key>#9353</key>
	<string>⒉</string>
	<key>#9354</key>
	<string>⒊</string>
	<key>#9355</key>
	<string>⒋</string>
	<key>#9356</key>
	<string>⒌</string>
	<key>#9357</key>
	<string>⒍</string>
	<key>#9358</key>
	<string>⒎</string>
	<key>#9359</key>
	<string>⒏</string>
	<key>#936</key>
	<string>Ψ</string>
	<key>#9360</key>
	<string>⒐</string>
	<key>#9361</key>
	<string>⒑</string>
	<key>#9362</key>
	<string>⒒</string>
	<key>#9363</key>
	<string>⒓</string>
	<key>#9364</key>
	<string>⒔</string>
	<key>#9365</key>
	<string>⒕</string>
	<key>#9366</key>
	<string>⒖</string>
	<key>#9367</key>
	<string>⒗</string>
	<key>#9368</key>
	<string>⒘</string>
	<key>#9369</key>
	<string>⒙</string>
	<key>#937</key>
	<string>Ω</string>
	<key>#9370</key>
	<string>⒚</string>
	<key>#9371</key>
	<string>⒛</string>
	<key>#94</key>
	<string>^</string>
	<key>#945</key>
	<string>α</string>
	<key>#9450</key>
	<string>⓪</string>
	<key>#9451</key>
	<string>⓫</string>
	<key>#9452</key>
	<string>⓬</string>
	<key>#9453</key>
	<string>⓭</string>
	<key>#9454</key>
	<string>⓮</string>
	<key>#9455</key>
	<string>⓯</string>
	<key>#9456</key>
	<string>⓰</string>
	<key>#9457</key>
	<string>⓱</string>
	<key>#9458</key>
	<string>⓲</string>
	<key>#9459</key>
	<string>⓳</string>
	<key>#946</key>
	<string>β</string>
	<key>#9460</key>
	<string>⓴</string>
	<key>#947</key>
	<string>γ</string>
	<key>#948</key>
	<string>δ</string>
	<key>#949</key>
	<string>ε</string>
	<key>#95</key>
	<string>_</string>
	<key>#950</key>
	<string>ζ</string>
	<key>#951</key>
	<string>η</string>
	<key>#952</key>
	<string>θ</string>
	<key>#953</key>
	<string>ι</string>
	<key>#954</key>
	<string>κ</string>
	<key>#955</key>
	<string>λ</string>
	<key>#956</key>
	<string>μ</string>
	<key>#957</key>
	<string>ν</string>
	<key>#958</key>
	<string>ξ</string>
	<key>#959</key>
	<string>ο</string>
	<key>#96</key>
	<string>`</string>
	<key>#960</key>
	<string>π</string>
	<key>#961</key>
	<string>ρ</string>
	<key>#962</key>
	<string>ς</string>
	<key>#963</key>
	<string>σ</string>
	<key>#9632</key>
	<string>■</string>
	<key>#9633</key>
	<string>□</string>
	<key>#964</key>
	<string>τ</string>
	<key>#9642</key>
	<string>▪</string>
	<key>#9647</key>
	<string>▯</string>
	<key>#965</key>
	<string>υ</string>
	<key>#966</key>
	<string>φ</string>
	<key>#967</key>
	<string>χ</string>
	<key>#9670</key>
	<string>◆</string>
	<key>#9673</key>
	<string>◉</string>
	<key>#9674</key>
	<string>◊</string>
	<key>#9675</key>
	<string>○</string>
	<key>#9678</key>
	<string>◎</string>
	<key>#9679</key>
	<string>●</string>
	<key>#968</key>
	<string>ψ</string>
	<key>#969</key>
	<string>ω</string>
	<key>#97</key>
	<string>a</string>
	<key>#9728</key>
	<string>☀</string>
	<key>#9729</key>
	<string>☁</string>
	<key>#9730</key>
	<string>☂</string>
	<key>#9731</key>
	<string>☃</string>
	<key>#9732</key>
	<string>☄</string>
	<key>#9742</key>
	<string>☎</string>
	<key>#9743</key>
	<string>☏</string>
	<key>#9745</key>
	<string>☑</string>
	<key>#9746</key>
	<string>☒</string>
	<key>#9760</key>
	<string>☠</string>
	<key>#9762</key>
	<string>☢</string>
	<key>#9763</key>
	<string>☣</string>
	<key>#9764</key>
	<string>☤</string>
	<key>#9765</key>
	<string>☥</string>
	<key>#9766</key>
	<string>☦</string>
	<key>#9767</key>
	<string>☧</string>
	<key>#9768</key>
	<string>☨</string>
	<key>#9769</key>
	<string>☩</string>
	<key>#977</key>
	<string>ϑ</string>
	<key>#9770</key>
	<string>☪</string>
	<key>#9771</key>
	<string>☫</string>
	<key>#9772</key>
	<string>☬</string>
	<key>#9773</key>
	<string>☭</string>
	<key>#9774</key>
	<string>☮</string>
	<key>#9775</key>
	<string>☯</string>
	<key>#9784</key>
	<string>☸</string>
	<key>#9785</key>
	<string>☹</string>
	<key>#9786</key>
	<string>☺</string>
	<key>#9788</key>
	<string>☼</string>
	<key>#9789</key>
	<string>☽</string>
	<key>#9790</key>
	<string>☾</string>
	<key>#9791</key>
	<string>☿</string>
	<key>#9792</key>
	<string>♀</string>
	<key>#9793</key>
	<string>♁</string>
	<key>#9794</key>
	<string>♂</string>
	<key>#98</key>
	<string>b</string>
	<key>#9800</key>
	<string>♈</string>
	<key>#9801</key>
	<string>♉</string>
	<key>#9802</key>
	<string>♊</string>
	<key>#9803</key>
	<string>♋</string>
	<key>#9804</key>
	<string>♌</string>
	<key>#9805</key>
	<string>♍</string>
	<key>#9806</key>
	<string>♎</string>
	<key>#9807</key>
	<string>♏</string>
	<key>#9808</key>
	<string>♐</string>
	<key>#9809</key>
	<string>♑</string>
	<key>#9810</key>
	<string>♒</string>
	<key>#9811</key>
	<string></string>
	<key>#9812</key>
	<string>♔</string>
	<key>#9813</key>
	<string>♕</string>
	<key>#9814</key>
	<string>♖</string>
	<key>#9815</key>
	<string>♗</string>
	<key>#9816</key>
	<string>♘</string>
	<key>#9817</key>
	<string>♙</string>
	<key>#9818</key>
	<string>♚</string>
	<key>#9819</key>
	<string>♛</string>
	<key>#982</key>
	<string>ϖ</string>
	<key>#9820</key>
	<string>♜</string>
	<key>#9821</key>
	<string>♝</string>
	<key>#9822</key>
	<string>♞</string>
	<key>#9823</key>
	<string>♟</string>
	<key>#9824</key>
	<string>♠</string>
	<key>#9825</key>
	<string>♡</string>
	<key>#9826</key>
	<string>♢</string>
	<key>#9827</key>
	<string>♣</string>
	<key>#9828</key>
	<string>♤</string>
	<key>#9829</key>
	<string>♥</string>
	<key>#9830</key>
	<string>♦</string>
	<key>#9831</key>
	<string>♧</string>
	<key>#9832</key>
	<string>♨</string>
	<key>#99</key>
	<string>c</string>
	<key>#9985</key>
	<string>✁</string>
	<key>#9986</key>
	<string>✂</string>
	<key>#9987</key>
	<string>✃</string>
	<key>#9990</key>
	<string>✆</string>
	<key>#9992</key>
	<string>✈</string>
	<key>#9993</key>
	<string>✉</string>
	<key>#9996</key>
	<string>✌</string>
	<key>#9997</key>
	<string>✍</string>
	<key>#9998</key>
	<string>✎</string>
	<key>#9999</key>
	<string>✏</string>
	<key>AElig</key>
	<string>Æ</string>
	<key>Aacute</key>
	<string>Á</string>
	<key>Acirc</key>
	<string>Â</string>
	<key>Agrave</key>
	<string>À</string>
	<key>Alpha</key>
	<string>Α</string>
	<key>Aring</key>
	<string>Å</string>
	<key>Atilde</key>
	<string>Ã</string>
	<key>Auml</key>
	<string>Ä</string>
	<key>Beta</key>
	<string>Β</string>
	<key>Ccedil</key>
	<string>Ç</string>
	<key>Chi</key>
	<string>Χ</string>
	<key>Dagger</key>
	<string>‡</string>
	<key>Delta</key>
	<string>Δ</string>
	<key>ETH</key>
	<string>Ð</string>
	<key>Eacute</key>
	<string>É</string>
	<key>Ecirc</key>
	<string>Ê</string>
	<key>Egrave</key>
	<string>È</string>
	<key>Epsilon</key>
	<string>Ε</string>
	<key>Eta</key>
	<string>Η</string>
	<key>Euml</key>
	<string>Ë</string>
	<key>Gamma</key>
	<string>Γ</string>
	<key>Iacute</key>
	<string>Í</string>
	<key>Icirc</key>
	<string>Î</string>
	<key>Igrave</key>
	<string>Ì</string>
	<key>Iota</key>
	<string>Ι</string>
	<key>Iuml</key>
	<string>Ï</string>
	<key>Kappa</key>
	<string>Κ</string>
	<key>Lambda</key>
	<string>Λ</string>
	<key>Mu</key>
	<string>Μ</string>
	<key>Ntilde</key>
	<string>Ñ</string>
	<key>Nu</key>
	<string>Ν</string>
	<key>OElig</key>
	<string>Œ</string>
	<key>Oacute</key>
	<string>Ó</string>
	<key>Ocirc</key>
	<string>Ô</string>
	<key>Ograve</key>
	<string>Ò</string>
	<key>Omega</key>
	<string>Ω</string>
	<key>Omicron</key>
	<string>Ο</string>
	<key>Oslash</key>
	<string>Ø</string>
	<key>Otilde</key>
	<string>Õ</string>
	<key>Ouml</key>
	<string>Ö</string>
	<key>Phi</key>
	<string>Φ</string>
	<key>Pi</key>
	<string>Π</string>
	<key>Psi</key>
	<string>Ψ</string>
	<key>Rho</key>
	<string>Ρ</string>
	<key>Scaron</key>
	<string>Š</string>
	<key>Sigma</key>
	<string>Σ</string>
	<key>THORN</key>
	<string>Þ</string>
	<key>Tau</key>
	<string>Τ</string>
	<key>Theta</key>
	<string>Θ</string>
	<key>Uacute</key>
	<string>Ú</string>
	<key>Ucirc</key>
	<string>Û</string>
	<key>Ugrave</key>
	<string>Ù</string>
	<key>Upsilon</key>
	<string>Υ</string>
	<key>Uuml</key>
	<string>Ü</string>
	<key>Xi</key>
	<string>Ξ</string>
	<key>Yacute</key>
	<string>Ý</string>
	<key>Zeta</key>
	<string>Ζ</string>
	<key>aacute</key>
	<string>á</string>
	<key>acirc</key>
	<string>â</string>
	<key>acute</key>
	<string>´</string>
	<key>aelig</key>
	<string>æ</string>
	<key>agrave</key>
	<string>à</string>
	<key>alpha</key>
	<string>α</string>
	<key>amp</key>
	<string>&amp;</string>
	<key>and</key>
	<string>∧</string>
	<key>ang</key>
	<string>∠</string>
	<key>aring</key>
	<string>å</string>
	<key>asymp</key>
	<string>≈</string>
	<key>atilde</key>
	<string>ã</string>
	<key>auml</key>
	<string>ä</string>
	<key>bdquo</key>
	<string>„</string>
	<key>beta</key>
	<string>β</string>
	<key>brvbar</key>
	<string>¦</string>
	<key>bull</key>
	<string>•</string>
	<key>cap</key>
	<string>∩</string>
	<key>ccedil</key>
	<string>ç</string>
	<key>cedil</key>
	<string>¸</string>
	<key>cent</key>
	<string>¢</string>
	<key>chi</key>
	<string>χ</string>
	<key>clubs</key>
	<string>♣</string>
	<key>cong</key>
	<string>≅</string>
	<key>copy</key>
	<string>©</string>
	<key>cup</key>
	<string>∪</string>
	<key>curren</key>
	<string>¤</string>
	<key>dagger</key>
	<string>†</string>
	<key>deg</key>
	<string>°</string>
	<key>delta</key>
	<string>δ</string>
	<key>diams</key>
	<string>♦</string>
	<key>divide</key>
	<string>÷</string>
	<key>eacute</key>
	<string>é</string>
	<key>ecirc</key>
	<string>ê</string>
	<key>egrave</key>
	<string>è</string>
	<key>empty</key>
	<string>∅</string>
	<key>epsilon</key>
	<string>ε</string>
	<key>equiv</key>
	<string>≡</string>
	<key>eta</key>
	<string>η</string>
	<key>eth</key>
	<string>ð</string>
	<key>euml</key>
	<string>ë</string>
	<key>euro</key>
	<string>€</string>
	<key>exist</key>
	<string>∃</string>
	<key>fnof</key>
	<string>ƒ</string>
	<key>forall</key>
	<string>∀</string>
	<key>frac12</key>
	<string>½</string>
	<key>frac14</key>
	<string>¼</string>
	<key>frac34</key>
	<string>¾</string>
	<key>gamma</key>
	<string>γ</string>
	<key>ge</key>
	<string>≥</string>
	<key>gt</key>
	<string>&gt;</string>
	<key>hearts</key>
	<string>♥</string>
	<key>hellip</key>
	<string>…</string>
	<key>iacute</key>
	<string>í</string>
	<key>icirc</key>
	<string>î</string>
	<key>iexcl</key>
	<string>¡</string>
	<key>igrave</key>
	<string>ì</string>
	<key>infin</key>
	<string>∞</string>
	<key>int</key>
	<string>∫</string>
	<key>iota</key>
	<string>ι</string>
	<key>iquest</key>
	<string>¿</string>
	<key>isin</key>
	<string>∈</string>
	<key>iuml</key>
	<string>ï</string>
	<key>kappa</key>
	<string>κ</string>
	<key>lambda</key>
	<string>λ</string>
	<key>laquo</key>
	<string>«</string>
	<key>lceil</key>
	<string>⌈</string>
	<key>ldquo</key>
	<string>“</string>
	<key>le</key>
	<string>≤</string>
	<key>lfloor</key>
	<string>⌊</string>
	<key>lowast</key>
	<string>∗</string>
	<key>loz</key>
	<string>◊</string>
	<key>lsquo</key>
	<string>‘</string>
	<key>lt</key>
	<string>&lt;</string>
	<key>macr</key>
	<string>¯</string>
	<key>mdash</key>
	<string>—</string>
	<key>micro</key>
	<string>µ</string>
	<key>middot</key>
	<string>·</string>
	<key>minus</key>
	<string>−</string>
	<key>mu</key>
	<string>μ</string>
	<key>nbsp</key>
	<string> </string>
	<key>ndash</key>
	<string>–</string>
	<key>ne</key>
	<string>≠</string>
	<key>ni</key>
	<string>∋</string>
	<key>not</key>
	<string>¬</string>
	<key>notin</key>
	<string>∉</string>
	<key>nsub</key>
	<string>⊄</string>
	<key>ntilde</key>
	<string>ñ</string>
	<key>nu</key>
	<string>ν</string>
	<key>ocirc</key>
	<string>ô</string>
	<key>oelig</key>
	<string>œ</string>
	<key>ograve</key>
	<string>ò</string>
	<key>oline</key>
	<string>‾</string>
	<key>omega</key>
	<string>ω</string>
	<key>omicron</key>
	<string>ο</string>
	<key>oplus</key>
	<string>⊕</string>
	<key>or</key>
	<string>∨</string>
	<key>ordf</key>
	<string>ª</string>
	<key>ordm</key>
	<string>º</string>
	<key>oslash</key>
	<string>ø</string>
	<key>otilde</key>
	<string>õ</string>
	<key>otimes</key>
	<string>⊗</string>
	<key>ouml</key>
	<string>ö</string>
	<key>para</key>
	<string>¶</string>
	<key>part</key>
	<string>∂</string>
	<key>permil</key>
	<string>‰</string>
	<key>perp</key>
	<string>⊥</string>
	<key>phi</key>
	<string>φ</string>
	<key>pi</key>
	<string>π</string>
	<key>piv</key>
	<string>ϖ</string>
	<key>plusmn</key>
	<string>±</string>
	<key>pound</key>
	<string>£</string>
	<key>prod</key>
	<string>∏</string>
	<key>prop</key>
	<string>∝</string>
	<key>psi</key>
	<string>ψ</string>
	<key>quot</key>
	<string>"</string>
	<key>radic</key>
	<string>√</string>
	<key>raquo</key>
	<string>»</string>
	<key>rceil</key>
	<string>⌉</string>
	<key>rdquo</key>
	<string>”</string>
	<key>reg</key>
	<string>®</string>
	<key>rfloor</key>
	<string>⌋</string>
	<key>rho</key>
	<string>ρ</string>
	<key>rsquo</key>
	<string>’</string>
	<key>sbquo</key>
	<string>‚</string>
	<key>scaron</key>
	<string>š</string>
	<key>sdot</key>
	<string>⋅</string>
	<key>sect</key>
	<string>§</string>
	<key>shy</key>
	<string></string>
	<key>sigma</key>
	<string>σ</string>
	<key>sigmaf</key>
	<string>ς</string>
	<key>sim</key>
	<string>∼</string>
	<key>spades</key>
	<string>♠</string>
	<key>sub</key>
	<string>⊂</string>
	<key>sube</key>
	<string>⊆</string>
	<key>sum</key>
	<string>∑</string>
	<key>sup</key>
	<string>⊃</string>
	<key>sup1</key>
	<string>¹</string>
	<key>sup2</key>
	<string>²</string>
	<key>sup3</key>
	<string>³</string>
	<key>supe</key>
	<string>⊇</string>
	<key>szlig</key>
	<string>ß</string>
	<key>tau</key>
	<string>τ</string>
	<key>theta</key>
	<string>θ</string>
	<key>thetasym</key>
	<string>ϑ</string>
	<key>thorn</key>
	<string>þ</string>
	<key>times</key>
	<string>×</string>
	<key>trade</key>
	<string>™</string>
	<key>uacute</key>
	<string>ú</string>
	<key>ucirc</key>
	<string>û</string>
	<key>ugrave</key>
	<string>ù</string>
	<key>uml</key>
	<string>¨</string>
	<key>upsilon</key>
	<string>υ</string>
	<key>uuml</key>
	<string>ü</string>
	<key>xi</key>
	<string>ξ</string>
	<key>yacute</key>
	<string>ý</string>
	<key>yen</key>
	<string>¥</string>
	<key>zeta</key>
	<string>ζ</string>
</dict>
</plist>
